<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Auction.Properties.Settings.auctionConnectionString"
            connectionString="Data Source=LAPTOP-3IBJFU96;Initial Catalog=auction;Integrated Security=True;Connect Timeout=10;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>